{% extends 'view/layout/base.html' %}

{% block body %}
<h1 class="title is-1">Índice de áreas</h1>

{% for error in errors %}

<div class="notification is-danger">
  {{error}}
</div>
{% endfor %}

{% for message in messages %}
<div class="notification is-success">
  {{message}}
</div>

{% endfor %}
<nav class="level-right">
  <div class="level-item">
    <a href="/area/create" class="button is-primary is-large">
      <span class="icon"><i class="fas fa-location-arrow"></i></span>
      <span>Agregar</span>
    </a>
  </div>
</nav>

<div class="table-container">
  <table class="table is-striped is-hoverable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="14">
          <div class="level-right">
            <a href="/area/create" class="button is-primary is-large">
              <span class="icon"><i class="fas fa-location-arrow"></i></span>
              <span>Agregar</span>
            </a>
          </div>
        </th>
      </tr>
    </tfoot>
    <tbody>
      {% for area in data.areas %}

      <tr>
        <td>{{area.id}}</td>
        <td>{{area.name}}</td>
        <td>
          <a href="/area/view/{{area.id}}"><span class="icon"><i class="fas fa-edit"></i></span>editar</a>
        </td>
        <td>
          <a href="/area/delete/{{area.id}}" class="action-delete" data-id="{{area.id}}" data-name="{{area.name}}">
            <span class="icon"><i class="fas fa-trash"></i></span>eliminar
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block footerScripts %}
<script src="/public/js/area.index.js"></script>
{% endblock %}
